{% extends 'layouts/base.html' %}
    {% load static %}

    {% block title %}Historial Clinico | Veterinaria Arenales{% endblock title %}

    {% block content %}

    <header class="masthead">
        <div class="container text-center py-5">
            <h2 class="masthead-subheading mb-4">HISTORIAL CLINICO DE MASCOTAS</h2>
        </div>
    </header>
    
    <section class="page-section">
        {% if user.is_authenticated %}
        <div class="container mt-5">
            <h1 class="mb-4">Historial Clínico de Mascota</h1>
            <div class="card">
              <div class="card-body">
                {% for historic in historics %}
                <h5 class="card-title">Nombre de la Mascota: {{ historic.anexo_mascota.nombre }}</h5>
                <p class="card-text"><b>Dueño:</b> {{ historic.anexo_mascota.anexo_propietario.nombre }}</p>
                <p class="card-text"><b>Especie:</b> {{ historic.anexo_mascota.especie }}</p>
                <p class="card-text"><b>Edad:</b> {{ historic.anexo_mascota.edad }}</p>
                <p class="card-text"><b>Diagnóstico:</b></p>
                <p class="card-text">{{ historic.diagnostico }}</p>
                <p class="card-text"><b>Tratamiento:</b></p>
                <p class="card-text">{{ historic.tratamiento }}</p>
                {% endfor %}
              </div>
            </div>
        </div>
        {% endif %}
    </section>
    
    
    {% endblock content %}

    {% block scripts %}
    <script>
        $(document).ready(function () {
            // Mostrar lista de propietarios si el checkbox está marcado
            $("#propietarioRegistrado").change(function () {
              if (this.checked) {
                $("#registroConPropietario").show();
                $("#registroSinPropietario").hide();
                // Aquí puedes agregar lógica para cargar dinámicamente la lista de propietarios disponibles desde el servidor
              } else {
                $("#registroSinPropietario").show();
                $("#registroConPropietario").hide();
              }
            });
          });
    </script>
    {% endblock %}