{% extends 'layouts/baseHome.html' %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    function generateUniqueColors(numColors) {
        const uniqueColors = [];
        const step = 360 / numColors;
    
        for (let i = 0; i < numColors; i++) {
            const hue = (step * i) % 360;
            const color = `hsl(${hue}, 70%, 50%)`;
            uniqueColors.push(color);
        }
    
        return uniqueColors;
    }

    $(document).ready(function(){

        const ctx = document.getElementById('myChart');
        const colors1 = generateUniqueColors(5);

        const ctx_two = document.getElementById('myChartTwo');
        const colors2 = generateUniqueColors(5);

        const ctx_three = document.getElementById('myChartThree');
        const colors3 = generateUniqueColors(5);

        const ctx_four = document.getElementById('myChartFour');
        const colors4 = generateUniqueColors(5);

        new Chart(ctx, {
            type: 'bar',
            data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Usuarios Registrados por Mes',
                data: {{ data|safe }},
                backgroundColor: colors1,
                borderColor: colors1,
                borderWidth: 1
                }]
            },
            options: {
            scales: {
                y: {
                    beginAtZero: true
                },
                x: {
                    title: {
                        display: true,
                        text: 'Meses'
                    }
                }
            }
            }
        });

        new Chart(ctx_two, {
            type: 'bar',
            data: {
            labels: {{ labels_visits|safe }},
            datasets: [{
                label: 'Citas Registradas por Mes',
                data: {{ data_visits|safe }},
                backgroundColor: colors2,
                borderColor: colors2,
                borderWidth: 1
                }]
            },
            options: {
            scales: {
                y: {
                    beginAtZero: true
                },
                x: {
                    title: {
                        display: true,
                        text: 'Meses'
                    }
                }
            }
            }
        });

        new Chart(ctx_three, {
            type: 'bar',
            data: {
            labels: {{ labels_products|safe }},
            datasets: [{
                label: 'Productos Ingresados por Mes',
                data: {{ data_products|safe }},
                backgroundColor: colors3,
                borderColor: colors3,
                borderWidth: 1
                }]
            },
            options: {
            scales: {
                y: {
                    beginAtZero: true
                },
                x: {
                    title: {
                        display: true,
                        text: 'Meses'
                    }
                }
            }
            }
        });

        new Chart(ctx_four, {
            type: 'bar',
            data: {
            labels: {{ labels_sells|safe }},
            datasets: [{
                label: 'Ventas Realizadas por Mes',
                data: {{ data_sells|safe }},
                backgroundColor: colors4,
                borderColor: colors4,
                borderWidth: 1
                }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                },
                x: {
                    title: {
                        display: true,
                        text: 'Meses'
                    }
                }
            }
            }
        });
    });
</script>
{% endblock %}

{% block content%}

    <div div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{ usersCard|length }}</h3>
                                <p>USUARIOS</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                        <a href="{% url 'visualizarUsuarios' %}" class="small-box-footer">Visualizar <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-success">
                            <div class="inner">
                            <h3>{{ productsCard|length }}</h3>
                            <p>PRODUCTOS</p>
                            </div>
                            <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="{% url 'visualizarProductos' %}" class="small-box-footer">Visualizar <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                        <div class="col-lg-3 col-6">
                        <div class="small-box bg-warning">
                            <div class="inner">
                            <h3>{{ visitsCard|length }}</h3>
                            <p>CITÁS MÉDICAS</p>
                            </div>
                            <div class="icon">
                            <i class="ion ion-person-add"></i>
                            </div>
                            <a href="{% url 'visualizarCitas' %}" class="small-box-footer">Visualizar <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-danger">
                            <div class="inner">
                            <h3>{{ historicsCard|length }}</h3>
                            <p>HISTORIAL MÉDICO</p>
                            </div>
                            <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="{% url 'visualizarHistorial' %}" class="small-box-footer">Visualizar <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header border-0">
                              <h3 class="card-title"><b>USUARIOS</b></h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                              <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Correo</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{ user.first_name  }}</td>
                                        <td>{{ user.last_name  }}</td>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="chart" id="sales-chart" style="height: 280px;">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header border-0">
                              <h3 class="card-title"><b>CITAS</b></h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                              <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th>Mascota</th>
                                    <th>Tipo</th>
                                    <th>Fecha</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for visit in visits %}
                                    <tr>
                                        <td>{{ visit.mascota  }}</td>
                                        <td>{{ visit.tipo  }}</td>
                                        <td>{{ visit.fecha }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="chart" id="sales-chart" style="height: 280px;">
                            <canvas id="myChartTwo"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header border-0">
                              <h3 class="card-title"><b>PRODUCTOS</b></h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                              <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Stock</th>
                                    <th>Precio</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>{{ product.descripcion  }}</td>
                                        <td>{{ product.stock  }}</td>
                                        <td>{{ product.precio }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="chart" id="sales-chart" style="height: 280px;">
                            <canvas id="myChartThree"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header border-0">
                              <h3 class="card-title"><b>VENTAS</b></h3>
                            </div>
                            <div class="card-body table-responsive p-0">
                              <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for sell in sells %}
                                    <tr>
                                        <td>{{ sell.anexo_producto.descripcion  }}</td>
                                        <td>{{ sell.cantidad  }}</td>
                                        <td>{{ sell.total }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="chart" id="sales-chart" style="height: 280px;">
                            <canvas id="myChartFour"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}