{% extends 'layouts/baseHome.html' %}

{% block content%}

    <div div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Registro de Historial Clínico</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Historial Clínico</a></li>
                            <li class="breadcrumb-item active">Registro de H.C.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="container">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                {{ form.anexo_doctor.label_tag }}
                                {{ form.anexo_doctor }}
                                {% for error in form.anexo_doctor.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.anexo_mascota.label_tag }}
                                {{ form.anexo_mascota }}
                                {% for error in form.anexo_mascota.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                {{ form.fecha.label_tag }}
                                {{ form.fecha }}
                                {% for error in form.fecha.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.motivo.label_tag }}
                                {{ form.motivo }}
                                {% for error in form.motivo.errors %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="diagnostico">Diagnóstico:</label>
                            {{form.diagnostico}}
                        </div>
                        <div class="form-group">
                            <label for="tratamiento">Tratamiento:</label>
                            {{form.tratamiento}}
                        </div>
                        <div class="form-group">
                            <label for="observaciones">Observaciones:</label>
                            {{form.observaciones}}
                        </div>
                        <button type="submit" class="btn btn-success">Registrar Historial Clínico</button>
                    </form>
                </div>
            </div>
        </section>

    </div>

{% endblock %}

{% block scripts %}
{% endblock %}