{% extends 'layouts/baseHome.html' %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    function generateUniqueColors(numColors) {
        const uniqueColors = [];
        const step = 360 / numColors;
    
        for (let i = 0; i < numColors; i++) {
            const hue = (step * i) % 360;
            const color = `hsl(${hue}, 70%, 50%)`;
            uniqueColors.push(color);
        }
    
        return uniqueColors;
    }

    $(document).ready(function(){
        const ctx = document.getElementById('myChart');
        const colors1 = generateUniqueColors(5);

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels | safe }},
                datasets: [{
                    label: '{{ label_dataset }}',
                    data: {{ data | safe }},
                    backgroundColor: colors1,
                    borderColor: colors1,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>
{% endblock %}

{% block content%}

    <div div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Reporte General</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Registros</a></li>
                            <li class="breadcrumb-item active">Reportes Generales</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <div class="mt-3 text-center mb-2">
                    <a href="{% url 'users_chart' %}" class="btn btn-primary mr-2">Usuarios</a>
                    <a href="{% url 'products_chart' %}" class="btn btn-success mr-2">Productos</a>
                    <a href="{% url 'sales_chart' %}" class="btn btn-info mr-2">Ventas</a>
                    <a href="{% url 'dates_chart' %}" class="btn btn-warning mr-2">Citas</a>
                    <a href="{% url 'record_chart' %}" class="btn btn-danger">Historial</a>
                </div>
                <div class="chart tab-pane d-flex justify-content-center align-items-center" id="sales-chart" style="position: relative; height: 450px;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
