{% extends 'layouts/base.html' %}
    {% load static %}

    {% block title %}Historial Clinico | Veterinaria Arenales{% endblock title %}

    {% block content %}

    <header class="masthead">
        <div class="container text-center py-5">
            <h2 class="masthead-subheading mb-4">RESERVACIÓN DE CITAS MÉDICAS</h2>
        </div>
    </header>
    
    <section class="page-section">
        <div class="row">
            <!-- Imagen Izquierda -->
            <div class="col-md-4 d-none d-md-block ms-md-auto">
                <div class="text-center p-3 mt-4">
                    <img src="{% static 'images/reserva_cita_uno.png' %}" class="img-fluid" alt="Imagen Veterinaria">
                </div>
            </div>

            <!-- Formulario -->
            <div class="col-md-4 mt-3 mt-md-0">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        {{form.mascota.label}}
                        {{form.mascota}}
                    </div>
                    <div class="form-group mb-4">
                        {{form.tipo.label}}
                        {{form.tipo}}
                    </div>
                    <div class="form-group mb-4">
                        {{form.fecha.label}}
                        {{form.fecha}}
                    </div>
                    <div class="form-group mb-4">
                        {{form.motivo.label}}
                        {{form.motivo}}
                    </div>
                    <div class="form-group mb-4">
                        {{form.nota.label}}
                        {{form.nota}}
                    </div>
                    <div class="text-center mb-4">
                        <button type="submit" class="btn btn-success btn-lg">Reservar Cita</button>
                    </div>
                </form>
            </div>

            <!-- Imagen Derecha -->
            <div class="col-md-4 d-none d-md-block">
                <div class="text-center p-3 mt-4">
                    <img src="{% static 'images/reserva_cita_dos.png' %}" class="img-fluid" alt="Imagen Veterinaria">
                </div>
            </div>
        </div>
    </section>    
    
    {% endblock content %}