{% extends 'layouts/baseHome.html' %}

{% block content%}

    <div div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Venta de Productos</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Productos</a></li>
                            <li class="breadcrumb-item active">Venta de Productos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <form id="formSells" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{form.anexo_producto.label}}
                        {{form.anexo_producto}}
                    </div>
                    <div class="mb-3">
                        {{form.precio.label}}
                        {{form.precio}}
                    </div>
                    <div class="mb-3">
                        {{form.cantidad.label}}
                        {{form.cantidad}}
                    </div>
                    <div class="mb-3">
                        {{form.total.label}}
                        {{form.total}}
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar Venta</button>
                </form>
            </div>
        </section>

    </div>

{% endblock %}

{% block scripts %}
<script>
    $("#id_anexo_producto").change(function(){
        var productID = $(this).val();
        request_precios(productID)
    });

    function request_precios (id) {
        var urldata="/ajax/load-precios/" + id;
    
        $.ajax({
            url: urldata,
            data: {},
            success: function (data) {
                $("#id_precio").val(data[0].precio);
            },
            error: function(result) {
                console.log(result);
            }
        });
    }
</script>

<script>
    $("#id_cantidad").on('input', function(){
        var precio = $("#id_precio").val();
        var cantidad = $("#id_cantidad").val();
        var result = precio * cantidad
        $('#id_total').prop('disabled', false);
        $('#id_total').val(result.toFixed(2));
        $('#id_total').prop('disabled', true);
    });

    $("#id_precio").on('input', function(){
        var precio = $("#id_precio").val();
        var cantidad = $("#id_cantidad").val();
        var result = precio * cantidad
        $('#id_total').prop('disabled', false);
        $('#id_total').val(result.toFixed(2));
        $('#id_total').prop('disabled', true);
    });
</script>

<script>
    $('#formSells').on('submit', function(event) {
        $('#id_total').prop('disabled', false);
    });
</script>
{% endblock %}