{% extends 'layouts/baseHome.html' %}

{% block styles %}
<style>
    #usersTable_wrapper .dt-buttons {
        float: right;
        margin-right: 10px;
    }
</style>
{% endblock styles %}

{% block content%}

    <div div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Registros Clínicos</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Historial Clínico</a></li>
                            <li class="breadcrumb-item active">Lista de Historias Clínicas</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">

                <div class="row mb-2">
                    <div class="col-md-6">
                        <input type="text" id="dateRange" placeholder="Rango de fechas" name="dateRange" class="form-control" />
                    </div>
                    <div class="col-md-6 text-right">
                        <button id="clearFilterBtn" class="btn btn-danger">Limpiar Filtro</button>
                    </div>
                </div>

                <table id="usersTable" class="display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Mascota</th>
                            <th>Fecha</th>
                            <th>Motivo</th>
                            <th>Diagnóstico</th>
                            <th>Tratamiento</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for historic in historics %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ historic.anexo_mascota.nombre  }}</td>
                            <td>{{ historic.fecha|date:"Y-m-d"  }}</td>
                            <td>{{ historic.motivo  }}</td>
                            <td>{{ historic.diagnostico  }}</td>
                            <td>{{ historic.tratamiento  }}</td>
                            <td>
                                <a href="{% url 'editarhistorial' historic.id %}" class="btn btn-primary btn-sm" title="Editar Historial">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a href="{% url 'eliminarhistorial' historic.id %}" class="btn btn-danger btn-sm" title="Eliminar Historial">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        // Inicializar DataTables
        var table = $('#usersTable').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json',
            },
            info: false,
            lengthMenu: [5, 10, 25, 50],
            dom: 'lBfrtip',
            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 1 },
                { responsivePriority: 2, targets: 2 },
            ],
            buttons: [
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i> Excel',
                    attr: {
                        class: 'btn btn-success'
                    }
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i> PDF',
                    attr: {
                        class: 'btn btn-danger'
                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i> Imprimir',
                    attr: {
                        class: 'btn btn-secondary'
                    }
                }
            ]
        });

        // Aplicar filtro de rango de fechas
        $('#dateRange').daterangepicker({
            "locale": {
                "format": "YYYY-MM-DD",
                "separator": " a ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sáb"
                ],
                "monthNames": [
                    "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                    "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
                ],
                "firstDay": 1
            },
            "opens": "center"
        }, function (start, end, label) {
            // Aplicar el filtro al DataTable
            var startDate = start.format('YYYY-MM-DD');
            var endDate = end.format('YYYY-MM-DD');

            // Definir la función de filtro para el rango de fechas
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var dateColumn = data[2]; // Columna que contiene las fechas
                    var date = moment(dateColumn, 'YYYY-MM-DD'); // Convertir la fecha de la tabla a un objeto moment

                    // Verificar si la fecha está dentro del rango especificado
                    if (startDate && endDate) {
                        return date.isSameOrAfter(startDate) && date.isSameOrBefore(endDate);
                    } else if (startDate) {
                        return date.isSameOrAfter(startDate);
                    } else if (endDate) {
                        return date.isSameOrBefore(endDate);
                    }
                    return true; // Si no se especifica un rango, mostrar todas las filas
                }
            );

            table.draw(); // Redibujar el DataTable con el filtro aplicado a la columna de fecha
        });

        $('#clearFilterBtn').on('click', function () {
            // Limpiar el campo de fecha
            $('#dateRange').val('');
    
            // Quitar la función de filtro para el rango de fechas
            $.fn.dataTable.ext.search.pop();
    
            table.draw(); // Redibujar el DataTable sin el filtro de fechas
        });
    });

</script>
{% endblock %}