{% extends 'layouts/baseHome.html' %}

{% block styles %}
<style>
    #usersTable_wrapper .dt-buttons {
        float: right;
        margin-right: 10px;
    }
</style>
{% endblock styles %}

{% block content%}

    <div div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Registros</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Citas</a></li>
                            <li class="breadcrumb-item active">Lista de Citas</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <table id="usersTable" class="display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Mascota</th>
                            <th>Fecha</th>
                            <th>Motivo</th>
                            <th>Opcional</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for visit in visits %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ visit.mascota  }}</td>
                            <td>{{ visit.fecha  }}</td>
                            <td>{{ visit.motivo  }}</td>
                            <td>{{ visit.nota  }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready( function () {
        $('#usersTable').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json',
            },
            info: false,
            lengthMenu: [5,10,25,50],
            dom: 'lBfrtip',
            responsive: true,
            columnDefs:[
            {responsivePriority: 1, targets:1},
            {responsivePriority: 3, targets:3},
            ],
            buttons: [
            {
                extend: 'excel',
                text: '<i class="fas fa-file-excel"></i> Excel',
                attr: {
                    class: 'btn btn-success'
                }
            },
            {
                extend: 'pdf',
                text: '<i class="fas fa-file-pdf"></i> PDF',
                attr: {
                    class: 'btn btn-danger'
                }
            },
            {
                extend: 'print',
                text: '<i class="fas fa-print"></i> Imprimir',
                attr: {
                    class: 'btn btn-secondary'
                }
            }
            ]
        });
    } );
</script>
{% endblock %}