{% extends 'layouts/baseHome.html' %}

{% block styles %}
<style>
    #usersTable_wrapper .dt-buttons {
        float: right;
        margin-right: 10px;
    }
</style>
{% endblock styles %}

{% block content%}

    <div div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Registros</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Citas</a></li>
                            <li class="breadcrumb-item active">Lista de Citas</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">

                <div class="row mb-2">
                    <div class="col-md-6">
                        <input type="text" id="dateRange" placeholder="Rango de fechas" name="dateRange" class="form-control" />
                    </div>
                    <div class="col-md-6 text-right">
                        <button id="clearFilterBtn" class="btn btn-danger">Limpiar Filtro</button>
                    </div>
                </div>

                <table id="usersTable" class="display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Mascota</th>
                            <th>Fecha</th>
                            <th>Motivo</th>
                            <th>Detalle</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for visit in visits %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ visit.mascota  }}</td>
                            <td>{{ visit.fecha|date:"Y-m-d"  }}</td>
                            <td>{{ visit.motivo  }}</td>
                            <td>{{ visit.nota  }}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm create-visit" title="Agregar Cita">
                                    <i class="bi bi-plus-circle"></i>
                                </button>
                                <a href="{% url 'editarCitas' visit.id %}" class="btn btn-primary btn-sm" title="Editar Cita">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a href="{% url 'eliminarCitas' visit.id %}" class="btn btn-danger btn-sm" title="Eliminar Cita">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <!-- Modal para crear usuario -->
    <div class="modal fade" id="createVisitModal" tabindex="-1" role="dialog" aria-labelledby="createVisitModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createVisitModalLabel">Crear Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createVisitForm" action="{% url 'visualizarCitas' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="crear_cita" value="true">
                        {{ create_form.as_p }}
                        <button type="submit" class="btn btn-success">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        // Inicializar DataTables
        var table = $('#usersTable').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json',
            },
            info: false,
            lengthMenu: [5, 10, 25, 50],
            dom: 'lBfrtip',
            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 1 },
                { responsivePriority: 2, targets: 2 },
            ],
            buttons: [
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i> Excel',
                    attr: {
                        class: 'btn btn-success'
                    }
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i> PDF',
                    attr: {
                        class: 'btn btn-danger'
                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i> Imprimir',
                    attr: {
                        class: 'btn btn-secondary'
                    }
                }
            ]
        });

        // Aplicar filtro de rango de fechas
        $('#dateRange').daterangepicker({
            "locale": {
                "format": "YYYY-MM-DD",
                "separator": " a ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "weekLabel": "W",
                "daysOfWeek": [
                    "Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sáb"
                ],
                "monthNames": [
                    "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                    "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
                ],
                "firstDay": 1
            },
            "opens": "center"
        }, function (start, end, label) {
            // Aplicar el filtro al DataTable
            var startDate = start.format('YYYY-MM-DD');
            var endDate = end.format('YYYY-MM-DD');

            // Definir la función de filtro para el rango de fechas
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var dateColumn = data[2]; // Columna que contiene las fechas
                    var date = moment(dateColumn, 'YYYY-MM-DD'); // Convertir la fecha de la tabla a un objeto moment

                    // Verificar si la fecha está dentro del rango especificado
                    if (startDate && endDate) {
                        return date.isSameOrAfter(startDate) && date.isSameOrBefore(endDate);
                    } else if (startDate) {
                        return date.isSameOrAfter(startDate);
                    } else if (endDate) {
                        return date.isSameOrBefore(endDate);
                    }
                    return true; // Si no se especifica un rango, mostrar todas las filas
                }
            );

            table.draw(); // Redibujar el DataTable con el filtro aplicado a la columna de fecha
        });

        $('#clearFilterBtn').on('click', function () {
            // Limpiar el campo de fecha
            $('#dateRange').val('');
    
            // Quitar la función de filtro para el rango de fechas
            $.fn.dataTable.ext.search.pop();
    
            table.draw(); // Redibujar el DataTable sin el filtro de fechas
        });
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Obtener referencias a los elementos del DOM
    const createVisitModal = document.getElementById('createVisitModal');

    // Función para mostrar el modal de crear usuario
    const showCreateVisitModal = () => {
        const createVisitModalInstance = new bootstrap.Modal(createVisitModal);
        createVisitModalInstance.show();
    };

    // Agregar event listeners a los botones
    document.querySelectorAll('.create-visit').forEach(btn => {
        btn.addEventListener('click', showCreateVisitModal);
    });
</script>

<script>
    // Manejar el envío del formulario de crear usuario
    createVisitForm.addEventListener('submit', async (event) => {
        event.preventDefault(); 

        const formData = new FormData(createVisitForm);

        try {
            const response = await fetch('{% url 'visualizarCitas' %}', { 
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value 
                },
                body: formData 
            });

            if (response.ok) {
                const data = await response.json();
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Cita creada exitosamente',
                        showConfirmButton: false,
                        timer: 800
                    });
                    setTimeout(() => {
                        location.reload();
                    }, 1200);
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error al crear cita',
                        text: data.errors
                    });
                }
            } else {
                const errorText = await response.text();
                const errorData = JSON.parse(errorText);
                Swal.fire({
                    icon: 'error',
                    title: 'Error al enviar la solicitud',
                    text: errorData.errors
                });
            }
        } catch (error) {
            console.error('Error al enviar la solicitud:', error);
        }
    });
</script>
{% endblock %}