{% extends 'layouts/baseHome.html' %}

{% block styles %}
<style>
    #usersTable_wrapper .dt-buttons {
        float: right;
        margin-right: 10px;
    }
</style>
{% endblock styles %}

{% block content%}

    <div div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Registros</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="">Productos</a></li>
                            <li class="breadcrumb-item active">Lista de Productos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">
                <table id="usersTable" class="display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Categoria</th>
                            <th>Tipo</th>
                            <th>Producto</th>
                            <th>Ingreso</th>
                            <th>Vencimiento</th>
                            <th>Stock</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ product.categoria  }}</td>
                            <td>{{ product.tipo_producto  }}</td>
                            <td>{{ product.descripcion  }}</td>
                            <td>{{ product.fecha_ingreso  }}</td>
                            <td>{{ product.fecha_vencimiento  }}</td>
                            <td>{{ product.stock  }}</td>
                            <td>
                                <a href="{% url 'editarProductos' product.id %}" class="btn btn-primary btn-sm" title="Editar Producto">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a href="{% url 'eliminarProductos' product.id %}" class="btn btn-danger btn-sm" title="Eliminar Producto">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).ready( function () {
        $('#usersTable').DataTable({
            "language": {
                url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json',
            },
            info: false,
            lengthMenu: [5,10,25,50],
            dom: 'lBfrtip',
            responsive: true,
            columnDefs:[
            {responsivePriority: 1, targets:1},
            {responsivePriority: 2, targets:2},
            ],
            buttons: [
            {
                extend: 'excel',
                text: '<i class="fas fa-file-excel"></i> Excel',
                attr: {
                    class: 'btn btn-success'
                }
            },
            {
                extend: 'pdf',
                text: '<i class="fas fa-file-pdf"></i> PDF',
                attr: {
                    class: 'btn btn-danger'
                }
            },
            {
                extend: 'print',
                text: '<i class="fas fa-print"></i> Imprimir',
                attr: {
                    class: 'btn btn-secondary'
                }
            }
            ]
        });
    } );
</script>

{% endblock %}